.columns {
  --columns-gap: 48px;
  --border-color: #c2cace;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width > 768px) {
  .columns > div {
    flex-direction: unset;
    gap: var(--columns-gap);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    position: relative;
  }

  .columns.right-border > div > div:not(:last-child) {
    border-right: .0625rem solid var(--border-color);
    padding-right: calc(var(--columns-gap) / 2);
  }

  .columns.no-gap-top > div > div > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}
