header .gnav {
    visibility: unset;
}

.gnav-wrapper,
.gnav-faux-navbar {
    position: relative;
    background: #FFF;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gnav-wrapper {
    height: 100px;
    display: none;
}

.gnav-wrapper.is-Open {
    display: flex;
    z-index: 4;
    width: 400px;
    
}

.gnav {
    visibility: unset;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gnav a {
    color: #2e2e2e;
    text-decoration: none;
}

.gnav a.newsletter-modal-cta {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    background-color: #1473E6;
    color: white;
    font-size: 14px;
    width: auto;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 100px;
    font-weight: bold;
}

.gnav a.newsletter-modal-cta:hover {
    background-color: #0F66D0;
}

.gnav.is-Open {
    position: fixed;
    left: 0;
    top: 0;
    max-height: 100%;
    width: 400px;
    background-color: var(--white);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateX(0);
    transition: transform .5s ease-out;
}

button.gnav-toggle,
button.gnav-close {
    height: 50px;
    width: 50px;
    padding: 0;
    border-width: 0 0 0 1px;
    border-radius: 0;
    vertical-align: top;
    background-color: transparent;
    color: var(--gray3);
    line-height: 30px;
    font-size: 16px;
}

button.gnav-toggle:focus,
button.gnav-close:focus {
    box-shadow: none;
}

button.gnav-toggle:hover {
    color: var(--gray3);
}

button.gnav-toggle:after {
    content: var(--icon-menu);
    width: 30px;
    height: 30px;
}

.gnav.is-Open button.gnav-close {
    background-color: var(--blue1);
    color: var(--white);
}

.gnav.is-Open button.gnav-close:after {
    content: var(--icon-menu-close);
}

.gnav.is-Open button.gnav-close:hover {
    color: var(--gray3);
}

.gnav .gnav-brand,
.gnav-faux-navbar .gnav-brand {
    display: flex;
    align-items: center;
    color: #fa0f00;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.gnav .gnav-brand img,
.gnav-faux-navbar .gnav-brand img {
    width: 146px;
    height: auto;
}

.gnav .gnav-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 41px;
    padding: 0 8px;
    box-sizing: border-box;
}

.gnav .gnav-logo img {
    width: 25px;
}

.gnav .gnav-mainnav {
    grid-area: navlist;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #FFF;
}

.gnav.is-Open .gnav-mainnav {
    display: block;
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
    width: 400px;
    max-height: 860px;
    overflow: auto;
}

.gnav-navitem {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Averta';
    margin-right: 0;
    margin-bottom: 0;
}

.gnav-navitem a {
    background-color: var(--blue1);
    color: var(--white);
    text-transform: uppercase;
    padding: 0;
    position: relative;
    padding: 15px 16px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 2.115px;
}

.gnav-navitem a:hover {
    color: var(--blue5);
}

.gnav-navitem a:after {
    font-family: var(--cme-group-icons);
    content: var(--icon-plus);
    pointer-events: none;
    float: right;
    margin-top: 5px;
}

.gnav-navitem.is-Open a:after {
    font-family: var(--cme-group-icons);
    content: var(--icon-minus);
    pointer-events: none;
    float: right;
    margin-top: 5px;
}

.gnav-navitem.primary {
    font-weight: 700;
}

.gnav-navitem.secondary {
    font-weight: 400;
}

.gnav-navitem.divider {
    border-top: 1px solid #5a6874;
    content: "";
    display: block;
}

.gnav-navitem a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .1s ease;
}

.gnav-navitem-menu {
    display: none;
    padding: 0 15px 48px 15px;
    background-color: var(--blue2);
}

.gnav-navitem.has-Menu.is-Open {
    position: relative;
}

.gnav-navitem.has-Menu.is-Open .gnav-navitem-menu {
    display: block;
}

.gnav-navitem-menu ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.gnav-navitem-menu a {
    padding: 12px 36px;
    white-space: nowrap;
}

.gnav-navitem-menu a:hover {
    color: #1473E6;
    background-color: #F5F5F5;
}

/* submenu link home*/

.main-home-link a{
    padding: 15px 0 0 0;
    margin-bottom: 0;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.44px;
    line-height: 22px;
    background-color: transparent;
    display: block;
}

.main-home-link a:hover{
    color: var(--blue5);
    background-color: transparent;
}

.gnav-navitem.is-Open .main-home-link a:after {
    float: none;
    margin-left: 16px;
    content: var(--icon-chevron-right);
    color: var(--blue5);
    font-size: 80%;
}

.gnav-navitem.is-Open .main-home-link a:hover:after {
    margin-left: 21px;
}

/* submenu */

.gnav-menu-container .gnav-subnav {
    margin: 0 15px;
}

.gnav-navitem-submenu {
 display: none;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem.has-Menu.is-Open .gnav-navitem-submenu{
    display: block;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem.has-Menu.is-Open a.gnav-subnavitem-link::after{
    content: var(--icon-minus);
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem.has-Menu a.gnav-subnavitem-link::after{
    content: var(--icon-plus);
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu a::after {
    content: '';
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem a.gnav-subnavitem-link em{
    font-style: normal;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem a.gnav-subnavitem-link{
    color: var(--citron);
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
    font-family: var(--averta);
    font-style: normal;
    margin: 16px 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem a.gnav-subnavitem-link::after {
    color: var(--white);
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu {
    margin-bottom: 18px;
    border-bottom: 1px solid var(--gray4);
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu li {
    margin: 7px 0;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu li a {
    padding: 0;
    background-color: transparent;
    display: inline-block;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 400;
    text-transform: initial;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu li strong {
    background-color: transparent;
    display: inline-block;
    min-width: 35px;
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu li strong a{
    text-transform: uppercase;
    color: var(--blue5);
}

.gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu li a:hover {
    color: var(--blue5);
}

/* curtain overlay */

.gnav-curtain.is-Open {
    background-color: var(--gray3);
    height: 100%;
    left: 0;
    opacity: .8;
    position: fixed;
    top: 0;
    transition: visibility .2s linear, opacity .2s linear;
    width: 100%;
    z-index: 3;
}

@media (min-width: 993px) {
    .gnav-wrapper {
        display: flex;
        z-index: 4;
        margin: 0 auto;
        max-width: 1600px;
        position: relative;
        width: 100%;
    }

    .gnav {
        padding: 0 88px;
    }

    .gnav-faux-navbar {
        display: none;
    }

    .gnav .gnav-brand {
        margin-right: 60px;
    }

    .gnav.is-Open {
        position: unset;
    }

    .gnav-toggle {
        display: none;
    }

    .gnav.is-Open .gnav-mainnav,
    .gnav .gnav-mainnav {
        display: flex;
        background: unset;
    }

    .gnav-navitem {
        display: flex;
        align-items: stretch;
        position: relative;
        margin-right: 30px;
        background-color: transparent;
    }

    .gnav-navitem>a {
        color: var(--gray7);
        background-color: var(--white);
        padding: 0;
    }

    .gnav-navitem>a::after {
        content: '';
    }

    .gnav-navitem.has-Menu.is-Open>a {
        color: var(--blue5);
    }

    .gnav-navitem.has-Menu.is-Open>a::after {
        border-bottom: 9px solid #112b4a;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        content: "";
        height: 0;
        left: auto;
        margin: 0 auto;
        opacity: 1;
        position: absolute;
        right: calc(50% - 5px);
        top: 3.3125rem;
        transition-delay: 0s;
        visibility: visible;
        width: 0;
    }

    .gnav-navitem.divider {
        border-left: 1px solid var(--gray3);
        height: 16px;
        top: 4px;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu {
        display: flex;
        position: fixed;
        top: 100px;
        height: calc(100vh - 200px);
        background-color: #112b4a;
        border: 0;
        border-radius: 0;
        left: 0;
        padding: 0;
        width: 100vw;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container {
        display: flex;
        margin: 0 auto;
        max-width: 1600px;
        position: relative;
        width: 100%;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .item-menu-column {
        width: 60%;
        padding: 0 88px;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .main-home-link {
        display: block;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .main-home-link a{
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container {
        display: block;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav{
        margin: 0;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav .gnav-subnavitem, 
    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav [class^="gnav-subnavitem-group"] {
        width: 33%;
        display: inline-table;
    }

    .gnav-navitem.has-Menu:nth-child(3).is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav [class^="gnav-subnavitem-group"] {
        width: 50%;
        display: inline-table;
    }

    .gnav-navitem.has-Menu:nth-child(3).is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav [class^="gnav-subnavitem-group"] .gnav-subnavitem{
        display: block;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-subnavitem-link{
        cursor: auto;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-subnavitem-link::after{
        display: none;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .gnav-menu-container .gnav-subnav .gnav-subnavitem .gnav-navitem-submenu{
        display: block;
        border: 0;
    }

    .gnav-navitem.has-Menu.is-Open .gnav-navitem-menu .item-menu-container .promoBox-subnav {
        width: 40%;
        border: 1px solid red;
    }

    button.gnav-close {
        display: none;
    }

    .gnav-curtain.is-Open {
        top: 100px;
    }
}
