.columns {
  --columns-gap: 3rem;
  --border-color: var(--gray4);
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width > 768px) {
  .columns > div {
    flex-direction: unset;
    gap: var(--columns-gap);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    position: relative;
  }

  .columns.article > div > div:not(:last-child) {
    border-right: .0625rem solid var(--border-color);
    padding-right: calc(var(--columns-gap) / 2);
  }

  .columns.article > div > div > *:first-child {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (width > 1200px) {
  main > .section > div:has(.columns.article) {
    max-width: 100%;
    width: unset;
    padding-inline: 5.5rem;
  }

  .columns.article {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
