:root {
    /* Primary Palette */
    --blue: blue;
    --blue1: #081d37;
    --blue-transparency: #020f1ed9;
    --blue2: #112b4a;
    --blue3: #1f3374;
    --blue3-a: #1f3655;
    --blue4: #006eb6;
    --blue4-filter: brightness(0) saturate(100%) invert(20%) sepia(83%) saturate(5247%) hue-rotate(191deg) brightness(96%) contrast(101%);
    --blue4-a: #002658;
    --blue5: #3cc8ff;
    --blue5-filter: brightness(0) saturate(100%) invert(83%) sepia(45%) saturate(5962%) hue-rotate(172deg) brightness(104%) contrast(109%);
    --blue6: #ebf9ff;
    --blue7: #0090ff;
    --blue-active: #354a66;
    --blue-navbar: #0d2646;
    --gray1: #16202a;
    --gray2: #25323c;
    --gray3: #5a6874;
    --gray4: #c2cace;
    --gray5: #ebedee;
    --gray5-a: #eee;
    --gray6: #f1f5f7;
    --gray7: #3a464f;
    --gray8: #3c4043;
    --gray9: #b2b2b2;
    --gray10: #d5dbdF;
    --citron: #e3e935;
    --green: #00e473;
    --green2: #01ff70;
    --pink: #ffe2e4;
    --yellow: #feffe8;
    --white: #fff;
    --black: #000;
    --forest: #187e02;
    --darkgreen: darkgreen;
    --red: red;
    --active-red: #df0035;
    --navy1: #1f3655;
    --navy2: #354a66;
    --blue-active-state: #005c99;
}